.hero {
    &ExploreBtn {
        background: rgb(35, 35, 35);

        &:hover {
            background: rgb(30, 30, 30);
        }

        &:active {
            background: rgb(0, 0, 0);
        }
    }

    &ImgBtn {
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(0, 0, 0, .75);
        border: none;
        font-size: 1.7rem;
        padding: .3em .4em .3em .3em;
        transition: background .2s;

        &:hover {
            background: rgb(0, 0, 0, .8)
        }

        &:active {
            background: rgb(0, 0, 0, .9)
        }
    }

    @media screen and (max-width: 880px) {
        flex-direction: column;
        text-align: center;
        align-items: center;

        a {
            width: 100% !important;
            padding-block: .7em !important;
            font-size: 1.3rem !important;
        }

        &ImgContainer {
            display: none !important;
        }

        &Desc {
            display: none;
        }
    }
}